@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
  color: rgb(63, 62, 62);
}

aside {
  width: 25%;
  padding-top: 10px;

}

.div {
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
 
}

.img {
  padding:20px;
}

header {
  height: 100px;
  border: 1px solid #C2C2C2;
}

.linav {
  height: 64px;
}

@media only screen and (max-width: 768px) {
      .img {
        padding: 0px;
      }

      .linav {
        height: 50px;
      } 

      header {
        height: 80px;
      }
     
  }